




#map {
    height: 600px;
    width: 100%;
    display: inline-block;
}

.leaflet-popup-content p {
    margin: .1em 0;
}


.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 250px;
}


.step {
	width: 40px;
}

.step img {
	width: 100%;
  height: auto;
}


#forward {
    float: right;
}

#reverse {
    float: left;
}

.legend-control-container {
    width: 150px;
    /*height: 200px;*/
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container p{
     margin: 0;
}

@font-face {
    font-family: nature;
    src: url(fonts1/The\ Natures.ttf);
}

@font-face {
    font-family: drawingNature;
    src: url(fonts1/Drawing\ Nature.ttf);
}
.title {
    font-size: 35px;
    color: rgb(21, 165, 21);  
    text-align: center;
    font-family: nature;

}

body{
    background-color: rgb(193, 226, 182);
}